{
  "plugins": [
    [
      "module:react-native-dotenv",
      {
        "envName": "ENVFILE", //这里需要设置为上面package.json对应的
        "moduleName": "react-native-dotenv",
        "path": ".env",
        "safe": false,
        "allowUndefined": true
      }
    ]
  ]
}
